.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    height: 200px;
}
h1{
    font-size: 100px;
    line-height: 0;
}

button{
    outline: 0;
    border: 0;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 15px;
    background-color: #ccc;
    cursor: pointer;
}